
<div>
    <article class="editMus">
        <!-- <p><label>Song Name<input type="text" id="songIn" name="" value=""></label></p>
        <p><label>Artist<input type="text" id="artistIn" name="" value=""></label></p>
        <p><label>Album<input type="text" id="albumIn" name="" value=""></label></p>

        <button id="addMyMusic" type="submit">Add</button> -->

        <!-- ARTIST -->
        <div class="editDiv">
            Artist:<!-- <br> -->
            <input name="artist" type="text" ng-model="newArtist" class="upperEditInput">
            <button ng-click="createArtist(newArtist)" class="editButton">Create Artist</button>
        </div><br>


        <!-- ALBUM -->
        <div class="editDiv">
            Album:<!-- <br> -->
            <input name="album" type="text" ng-model="newAlbum" class="editInput">
            Existing Artist:
            <select ng-model="selectedArtist">
                <option ng-repeat="item in artistList" value="{{item.url}}">{{item.name}}</option>
            </select>
            <button ng-click="createAlbum(newAlbum, selectedArtist)" class="editButton">Create Album</button>
        </div><br>


        <!-- SONG -->
        <div class="editDiv">
            Song:<!-- <br> -->
            <input name="song" type="text" ng-model="selectedSong" class="upperEditInput">
            Existing Album:
            <select ng-model="selectedAlbum">
                <option ng-repeat="item in albumList" value="{{item.url}}">{{item.title}}</option>
            </select>
            <button ng-click="createSong(selectedSong, selectedAlbum)" class="editButton">Create Song</button>
        </div><br>





    </article>
</div>
