
<div>
    <article class="editMus">
        <!-- <p><label>Song Name<input type="text" id="songIn" name="" value=""></label></p>
        <p><label>Artist<input type="text" id="artistIn" name="" value=""></label></p>
        <p><label>Album<input type="text" id="albumIn" name="" value=""></label></p>

        <button id="addMyMusic" type="submit">Add</button> -->

        <!-- SONG -->
        <span>
            Song:<br>
            <input name="song" type="text" ng-model="selectedSong">
            Existing Album:
            <select ng-model="selectedAlbum">
                <option ng-repeat="item in albumList" value="{{item.url}}">{{item.title}}</option>
            </select>
            <button ng-click="createSong(selectedSong, selectedAlbum)">Create Song</button>
        </span><br>


        <!-- ARTIST -->
        <span>
            Artist:<br>
            <input name="artist" type="text" ng-model="selectedArtist">
            <button ng-click="createArtist(selectedArtist)">Create Artist</button>
        </span><br>


        <!-- ALBUM -->
<!--         <span>
            Album:<br>
            <input name="album" type="text" ng-model="selectedAlbum">
            Existing Artist:
            <select ng-model="selectedArtist">
                <option ng-repeat="item in artistList" value="{{item.url}}">{{item.name}}</option>
            </select>
            <button ng-click="createAlbum(selectedAlbum.title, selectedArtist)">Create Album</button>
        </span><br>
 -->



    </article>
</div>
