
<div>
    <article class="editMus">
        <!-- <p><label>Song Name<input type="text" id="songIn" name="" value=""></label></p>
        <p><label>Artist<input type="text" id="artistIn" name="" value=""></label></p>
        <p><label>Album<input type="text" id="albumIn" name="" value=""></label></p>

        <button id="addMyMusic" type="submit">Add</button> -->
        Song:<br>
        <input name="song" type="text" ng-model="selectedSong"><br>

        <span>
            Existing Album
            <select ng-model="selectedAlbum">
                <option ng-repeat="item in albumList" value="{{item.url}}">{{item.title}}</option>
            </select>
<!--             New Album:
            <input name="album" type="text" ng-model="selectedAlbum"><br> -->
        </span>

        <span>
            Existing Artist
            <select ng-model="selectedArtist">
                <option ng-repeat="item in artistList" value="{{item.url}}">{{item.name}}</option>
            </select>
<!--             New Artist:
            <input name="artist" type="text" ng-model="selectedArtist"><br> -->
        </span>

        <!-- <button type="submit">Submit</button> -->
        <button ng-click="submit(selectedSong, selectedAlbum, selectedArtist)">Submit</button>
    </article>
</div>
