<div>

<div class="modal-header">
  <h3>{{songdetail.title}}</h3>
  

  <div class="modal-body">
    <!-- text -->
    <p>{{songdetail.artist}}</p>
    <p>{{songdetail.album}}</p>
  </div>

  <div class="modal-footer">
    
    <button type="button" class="btn btn-success" 
            data-ng-click="cancel()">Back</button>         
    <button class="btn btn-success" 
            data-ng-click="edit(songdetail.url)">Edit</button>
    <button class="btn btn-success" 
            data-ng-click="delete(songdetail.url)">Delete</button>
  </div>

</div>
