<h1>{{ title }}</h1>

<div id="listView"></div>
    <!-- <div id="moreBtnDiv"><button type="button" class="btn moreBtn">More</button></div> -->


    <div id="list-view" class="search">
        <!-- <label>Song Length:</label>
        <br>
        <input type="range" name="" value=""> -->

        <p>
            <label>Artist:</label>
            <br>
            <select name="Artist" class="artSel">
                <!-- <option value="Kanye West">Kanye West</option>
                <option value="PWilly">Pharrell Williams</option>
                <option value="Childish G">Childish Gambino</option>
                <option value="Chance The Rap">Chance The Rapper</option>
                <option value="Drake">Drake</option> -->
            </select>
        </p>

        <p><label>Album:</label>
            <select name="Album" class="albSel">
            <datalist id="albums">
            <!--     <option selected="">Thank Me Later</option>
                <option value="Drake">Thank Me Later</option>
                <option value="MBDTF">MY Beautiful Dark Twisted Fantasy</option>
                <option value="GIRL">Girl</option>
                <option value="BTI">Because The Internet</option>
                <option value="Chance">Somewhere In Paradise</option> -->
            </datalist>
            </select>
        </p>

</div>
    <article id="songContainer">
    <p>here is something to see if you can see</p>
</article>

<div ng-repeat="song in songs">
  <p>{{song.title}}</p>
  <button ng-click="openModal(song.id)">Detail</button>
</div>

