<h1>{{ title }}</h1>


    <div id="list-view" class="search">
        <!-- <label>Song Length:</label>
        <br>
        <input type="range" name="" value=""> -->

        <p>
            <label>Artist:</label>
            <select name="Artist" class="artSel">
                <option ng-repeat="artist in artists" value="{{artist.name}}">{{artist.name}}</option>
                <!-- <option value="PWilly">Pharrell Williams</option>
                <option value="Childish G">Childish Gambino</option>
                <option value="Chance The Rap">Chance The Rapper</option>
                <option value="Drake">Drake</option> -->
            </select>
        </p>
    <div class="filt1">
      <button ng-click="orderByArtist()">Filter Artist</button>
    </div>

        <p>
            <label>Album:</label>
            <select name="Album" class="albSel">
                <option ng-repeat="album in albums" value="{{album.title}}">{{album.title}}</option>
              <!--   <option value="Drake">Thank Me Later</option>
                <option value="MBDTF">MY Beautiful Dark Twisted Fantasy</option>
                <option value="GIRL">Girl</option>
                <option value="BTI">Because The Internet</option>
                <option value="Chance">Somewhere In Paradise</option> -->
            </select>
        </p>
    <div class="filt2">
      <button ng-click="orderByAlbum()">Filter Album</button>
    </div>
</div>

    <article id="songContainer">
    <div ng-repeat="song in songs">
        <p>{{song.title}}</p>
        <button ng-click="openModal(song.id)">Detail</button>
    </div>
</article>


